@use "./variables.scss";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  html {
    font-size: 14px;
  }
}

a {
  color: var(--color-accent);
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  background: none;
  font-family: inherit;
}

.app-main {
  flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
  padding: 1.5rem;
}

@media (max-width: 768px) {
  .app-main {
    padding: 1rem;
  }
}
